@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    margin-top: 20px;
    padding: 0;
    height: 630px;
    font-family: 'Ubuntu';
    display: flex;
    justify-content: center;
}

h4{
    font-size: 30px;
    display: flex;
}

input{
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
}

button{
    justify-self: flex-end;
    width: 100px;
}

.titulo{
    display: flex;
    justify-content: center;
}

.botoes{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 535px;
}

.corpo{
    border: 3px solid black;
    width: 750px;
    height: 600px;
    display: flex;
}

.primeiroConj{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.segundoConj{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.palavras{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
}

.borda{
    border: 1px solid black;
}

.coluna{
    display: flex;
    flex-direction: column;
}

.dica{
    margin-top: 5px;
    font-weight: 900;
    color: black;
}

span{
    font-weight: 900;
    color: rgb(6, 184, 0);
    
}